@charset "UTF-8";

.form {
    text-align: left;
    display: inline-block;

}

.rigth {
    text-align: right;
 
    display: inline-block;
}

.text {
    width: 200px;
    height: 30px;
   
}

.lef-pading {
    padding-left: 15%;
}

